.card {
    border: solid 1px;
    border-radius: 0px;
}
.card-title{
    font-weight:600;
}

.card-text{
    font-size:18px;

}

.card-header {
    font-weight: bold;
    font-size: 25px;
}

.card-body a{
    color:#383838 !important;
}

.card-body a:hover{
    color:#787878 !important;
}