{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css1/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/perform.css' %}">
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <a href="https://www.flaticon.com/free-icons/email" title="email icons"></a>
    <title>Театр "Триада". {{ perform.title }}</title>

</head>

<body>
   <nav class="navbar navbar-expand-md navbar-dark sticky-top navbar-fixed-top trn">
        <div class="container-fluid">
            <a href="{% url 'index' %}" class="navbar-brand">
                <img src="{% static 'img/logo2.png' %}" class="d-inline-block align-top" alt="Логотип">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a href="{% url 'index' %}" class="nav-link">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'affiche' %}" class="nav-link">Репертуар</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'people' %}" class="nav-link">Люди театра</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'about' %}" class="nav-link">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'contact' %}" class="nav-link">Контакты</a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url 'news' %}" class="nav-link">Новости</a>
                    </li>
                    {% if request.user.is_authenticated %}
					<li class="nav-item text-white">
						{{user.username}} | <a href="{%url 'logout' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-door-open text-white" viewBox="0 0 16 16">
                            <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
                            <path d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z"/>
                        </svg>
                    </a>
					</li>
					{% else %}
					<li class="nav-item">
                        <a href="{% url 'login' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-door-closed text-white" viewBox="0 0 16 16">
                                <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                                <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                            </svg>
                        </a>
                    </li>
					{% endif %}
                </ul>
            </div>

        </div>
    </nav>

    <div class="banner">
        <img src="{% static 'img/Frame 1.svg' %}" alt="Баннер">
    </div>

    <div class="container-sm bc" style="margin-top:20px; margin-bottom:20px;">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'affiche' %}">Репертуар театра</a></li>
                <li class="breadcrumb-item active" aria-current="page">«{{ perform.title }}»</li>
            </ol>
        </nav>
    </div>

    <div class="container col-xxl-8 ">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-sm-12 col-lg-6">
                <img src="{{ perform.poster.url }}" class="d-block mx-lg-auto px-4 py-5 img-fluid"
                    loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">«{{ perform.title }}»</h1>
                <p class="lead">{{ perform.description }}</p>
                <p class="lead">Режиссёр-постановщик –
                            {% for perform_director in perform.directors.all %}
                                <a href="{{ perform_director.get_absolute_url }}">
                                    {{ perform_director.name }} {{ perform_director.surname }}
                                </a>
                            {% endfor %}
                <p class="lead">Сценография –
                        {% for perform_artist in perform.artist.all %}
                          <a href="{{ perform_artist.get_absolute_url }}">
                                    {{ perform_artist.name }} {{ perform_artist.surname }}
                            </a>
                        {% endfor %}
                </p>
                <p class="lead">Композитор –
                        {% for perform_composer in perform.composer.all %}
                          <a href="{{ perform_composer.get_absolute_url }}">
                                    {{ perform_composer.name }} {{ perform_composer.surname }}
                          </a>
                        {% endfor %}
                </p>
                <p class="lead">Хореограф –
                        {% for perform_choreographer in perform.choreographer.all %}
                          <a href="{{ perform_choreographer.get_absolute_url }}">
                                    {{ perform_choreographer.name }} {{ perform_choreographer.surname }}
                          </a>
                        {% endfor %}
                </p>
                <p class="lead">Артисты –
                        {% for perform_actor in perform.actors.all %}
                          <a href="{{ perform_actor.get_absolute_url }}">
                                    {{ perform_actor.name }} {{ perform_actor.surname}}
                            {% if perform_actor != perform.actors.last %},{% endif %} </a>
                        {% endfor %}
                </p>

                <p class="lead">Продолжительность спектакля <i>2 часа 30 мин.</i> с одним антрактом.</p>
                    <div style="margin-rop: 10px;">
                        <p><a href="booking/{{ el.get_absolute_url }}"><span class="btn first" style="margin-top: 20px;">Бронирование</span></a></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <h1 class="display-5 fw-bold lh-1 mb-3 mt-2">ГАЛЕРЕЯ СПЕКТАКЛЯ</h1>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
             {% for el in perform.performshots_set.all %}
            <div class="swiper-slide"><a href="{{ el.image.url }}" data-lightbox="test"><img src="{{ el.image.url }}" alt="{{ image.description }}"></a></div>
            {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>


   <h3>Мнения людей:</h3>
   {% for review in perform.get_review %}
   <div class="container"  style="max-width:92%;">
       <div class="card">
           <div class="card-header">{{ review.username }}</div>
           <div class="card-body">
               <blockquote class="blockquote mb-0">
                   <p>{{ review.text }}</p>
                   <h6 style="font-weight:bold">{{ review.created }}</h6>
               </blockquote>
           </div>
       </div>
   </div>
   {% endfor %}
   {% if user.is_authenticated %}
            <form action="{% url 'add_review' perform.id %}"  method="post">
                {% csrf_token %}
                <input type="hidden" name="parent" value="">
                <div class="form-group editContent" id="contactparent">
                    <label for="contactparent" class="editContent">
                        Расскажите о своих впечатлениях от спектакля «{{ perform.title }}»
                    </label>
                    {{ form.text }}
                </div>
                <button class="button btn" type="submit" >Поделиться мнением</button>
            </form>
   {% else %}
        <h4 class="notreg">Для того чтобы делиться своим мнением, <a href="{% url 'login' %}">авторизируйтесь.</a></h4>
   {% endif %}

    <div class="container">
        {% for el in news %}
        <div class="card border-light mb-3">
            <div class="card-header">{{ el.title }}</div>
            <div class="card-body">
                <h5 class="card-title">{{ el.date }}</h5>
                <p class="card-text">{{ el.preview }}</p>
                <a href="{{ el.get_absolute_url }}">Подробнее →</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <footer class="footer mt-auto py-3">
        <div class="container">
            <ul>
                <li>
                    <a href="{% url 'index' %}">Главная</a>
                </li>
                <li>
                    <a href="{% url 'affiche' %}">Репертуар</a>
                </li>
                <li>
                    <a href="{% url 'about' %}">О нас</a>
                </li>
                <li>
                   <a href="{% url 'people' %}">Люди театра</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Контакты</a>
                </li>
                <li>
                    <a href="{% url 'news' %}">Новости</a>
                </li>
            </ul>
        </div>
    </footer>
   <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="{% static 'dist/js/lightbox-plus-jquery.js' %}"></script>

    <script>
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerGroup: 3,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

</body>

</html>